@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --black1: #0D0C1C;
    --grey1: #424242;
    --lightgrey1: #D9D9D9;
    --blue1: #3563E9;
    --purple1: #433F83;
    --purple2: #524D98;
    --purple3: #A09BD0;
}

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-optical-sizing: auto;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

img {
    max-width: 100%;
}

.main {
    flex-grow: 1;
    margin-top: 90px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.header {
    background-color: white;
    padding: 20px 0;
    box-shadow: inset 0px -0.888889px 0.888889px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.header-nav {
    display: flex;
    align-items: center;
}

.hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    width: 30px;
    margin-left: auto;
}

.hamburger .line {
    width: 100%;
    height: 3px;
    background-color: black;
    transition: .3s;
}

.btn {
    padding: 10px 14px;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    transition: .3s;
    display: inline-block;
}

.btn-white-fill {
    background-color: white;
    color: var(--purple1);
}

.btn-white-fill:hover {
    background-color: rgba(255,255,255,.8);
}

.nav-open .hamburger .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.nav-open .hamburger .line:nth-child(2) {
    opacity: 0;
}

.nav-open .hamburger .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

.logo {
    font-size: 0;
}

.logo img {
    width: 130px;
}

.header-nav-list {
    margin: 0 0 0 auto;
    padding: 0;
    display: flex;
    list-style: none;
    gap: 50px;
}

.header-nav-link a {
    color: var(--grey1);
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    transition: .3s;
    position: relative;
}

.header-nav-link a:hover,
.header-nav-link.highlight a:hover {
    color: var(--blue1);
}

.header-nav-link.highlight a {
    color: var(--purple2);
    font-weight: 700;
}

.section {
    margin: 60px 0;
}

.article-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.article-item {
    transition: .3s;
    padding: 20px 20px 30px;
    display: flex;
    flex-direction: column;
}

.article-item:hover {
    background-color: var(--purple3);
}

.article-item:hover .article-item-heading {
    color: white;
}

.article-item-img {
    font-size: 0;
    width: 100%;
    height: 236px;
    display: block;
    position: relative;
    overflow: hidden;
}

.article-item-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    max-width: unset;
}

.article-item-heading {
    color: var(--black1);
    text-decoration: none;
    font-weight: 600;
    font-size: 24px;
    display: block;
    margin: 25px 0 17px;
    transition: .3s;
}

.article-item-time {
    transition: .3s;
    color: var(--purple2);
    cursor: default;
}

.article-item:hover .article-item-time {
    color: var(--lightgrey1);
}

.footer {
    background-color: var(--purple1);
    padding: 70px 0;
}

.footer .logo {
    width: 200px;
}

.footer-bottom {
    display: flex;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    padding-top: 40px;
}

.footer-bottom-social {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-left: auto;
}

.footer-bottom-social-left {
    display: flex;
    align-items: center;
    gap: 25px;
}

.footer-bottom-social-item {
    display: flex;
    transition: .3s;
}

.footer-bottom-social-item:hover {
    opacity: .8;
}

@media (max-width: 1280px) {
    .container {
        width: calc(100% - 30px);
    }

    .header-nav-list {
        gap: 30px;
    }
}

@media (max-width: 992px) {
    .hamburger {
        display: flex;
    }

    .header {
        padding: 17px 0;
    }

    .header-nav-list {
        display: none;
        position: absolute;
        top: 79px;
        right: 0;
        background-color: var(--purple1);
        width: 100%;
        height: calc(100vh - 79px);
        flex-direction: column;
        z-index: 1;
        gap: 0;
    }

    .header-nav-link a,
    .header-nav-link.highlight a {
        color: white;
        padding: 20px 15px;
        display: block;
        box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.15);
    }

    .header-nav-link a:hover,
    .header-nav-link.highlight a:hover {
        background-color: var(--purple2);
        color: white;
    }

    .header-nav-link a:after {
        content: "";
        background-image: url(../img/caret-right-lightblue.svg);
        background-size: contain;
        background-repeat: no-repeat;
        width: 12px;
        height: 12px;
        display: inline-block;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        position: absolute;
    }

    .nav-open {
        overflow: hidden;
    }

    .nav-open .hamburger {
        height: 17px;
    }

    .nav-open .header-nav-list {
        display: flex;
    }

    .section {
        margin: 40px 0;
    }

    .article-item-heading {
        font-size: 20px;
        margin: 18px 0 12px;
    }

    .article-item {
        padding: 20px;
    }

    .footer-bottom-social, .footer-bottom-social-left {
        gap: 20px;
    }
}

@media (max-width: 768px) {
    .container {
        width: calc(100% - 20px);
    }

    .article-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .article-item {
        padding: 10px;
    }

    .footer-bottom {
        flex-direction: column;
        align-items: center;
    }

    .footer-bottom-social {
        flex-direction: column;
        margin: auto;
        gap: 0;
    }

    .footer-bottom-social-left {
        margin: 40px auto;
    }

    .footer .logo {
        width: 180px;
    }
}

@media (max-width: 576px) {
    .article-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .article-item-img img {
        min-height: 100%;
        height: auto;
        width: 100%;
    }

    .footer-bottom-social-left {
        gap: 10px;
    }
}